body.matugen {
  --accent: #cccccc;
  --accent-overlay: #aaaaaa;
  
  --primary: #aaaaaa;
  --primary-hover: #5d4545;
  --navbar-accent: var(--primary);
  
  --background: #111111;
  --body-background: #111111;
  --navbar-background: #191919;
  
  --background-darker: var(--background);
  --current-background: var(--body-background);
  --navbar-active-background: #232323;

  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  
  --input-background: var(--navbar-background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);

  --success: #cccccc;
  --success-hover: #846262;
  --danger: #dddddd;
  --danger-hover: #967171;

  --text-default: #828282;
  --text-title: #828282;
  --text-secondary: #5d5d5d;
  --text-tertiary: #606060;
  --text-hover: #aaaaaa;

  --text-title: #828282;
  --action-icon: #828282;
  --action-icon-hover: #aaaaaa;
  --action-icon-active: #5d4545;
  --icons-background: #191919;
  --icon-disabled: #5d5d5d;

  --anticheat-denied: var(--danger);
  --anticheat-broken: var(--accent);
  --anticheat-running: var(--primary);
  --anticheat-supported: var(--success);
  --anticheat-planned: #a7a7a7;
}

